*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body :nth-child(2){
    color: green;
}

body :nth-child(3){
    color: red;
}

body :nth-child(4){
    background-image: url(extref.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 0 15px;
}

body :nth-child(4) a{
    color: blueviolet;
}

body :nth-child(5){
    color: blueviolet;
    font-family: 'Caveat', cursive;
    font-weight: 600;
    margin-bottom: 15px;
}

body :nth-child(6){
    text-decoration: none;
    color: blueviolet;
}